version: "3.9"
services:
  web:
    build: .
    ports:
      - "8000:5000"
    volumes:
      - {{app_env.data_dir}}:{{docker_app_env.data_dir}}
      - {{app_env.config_dir}}:{{docker_app_env.config_dir}}
      - {{app_env.log_dir}}:{{docker_app_env.log_dir}}
      - {{app_env.pid_dir}}:{{docker_app_env.pid_dir}}
  redis:
    image: "redis:alpine"
