#!/bin/sh

mkdir -p {{docker_app_env.venv_dir}}
python -m venv {{docker_app_env.venv_dir}}
. {{docker_app_env.venv_dir}}/bin/activate
python -m pip install pip setuptools --upgrade
python -m pip install wheel
python -m pip install -r requirements.txt
